.mq-player {
	width:750px;
	height:450px;

	background-color:lightblue;
	background-size: 750px 450px;
	background-repeat:none;

	position:relative;
}

.mq-player.mq-start {

}

.mq-player.mq-start .mq-title{
	position:absolute;

	top:25px;
	left:200px;

	color:white;
	font-size:28px;
}

.mq-player.mq-start .mq-description{
	
}

.mq-player.mq-start .mq-next{
	position:absolute;

	top:350px;
	left:350px;
}