.mq-player {
	width:750px;
	height:450px;
	background-color:lightblue;
}

.mq-player.mq-start {

}

.mq-player.mq-start .mq-title{

}

.mq-player.mq-start .mq-description{
	
}

.mq-player.mq-start .mq-next{
	
}